* {
    background-size: cover !important;
    border         : none;
    padding        : 0;
    margin         : 0;
}

#home-page {
    text-align: center;
    width     : 100%;
    overflow  : hidden;
}

#tool-bar-wrapper {
    position       : fixed;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    height         : 100%;
    left           : 0;
    z-index        : 1;
    pointer-events : none;
}

#tool-bar {
    pointer-events: visible;
    display       : flex;
    flex-direction: column;
}

#app-bar-wrapper{
    position: absolute;
    top: 100%;
    left: 20%;
    transform: translateY(-50px);
    z-index: 1;
}
#app-bar{
    height: 50px;
    padding: 10px;
    width: 400px;
}

.pos-bar{
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
    z-index: 2;
}

.percent-after::after{
    content: '%';
}

#status-bar {
    height          : 100%;
    min-width       : 300px;
    position        : fixed;
    display         : flex;
    flex-direction  : column;
    right           : 0;
    background-color: #fafafa;
    z-index         : 1;
    overflow-y      : scroll;
    overflow-x      : hidden;

    max-width: 320px;
}

.back-btn{
    display: inline-block;
    position: fixed;
    top: 24px;
    left: 14px;
    background: #fafafa;
    border-radius: 50%;
    z-index: 4;
}


.router{
    display: block;
    position: fixed;
    top: 21px;
    left: 43px;
    z-index: 2;
}

.router .route{
    display: inline-block;
    float: left;
    background-color: #424242;
    color: #fafafa;
    font-size: 14px;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 16px;
    margin: 4px;
}

.state-modal{
    display: inline-block;
    position: fixed;
    background: #fafafa;
    border-radius: 16px;
    z-index: 4;
    padding: 0 12px;
}

.konvajs-content {
    margin: auto;
}

#color-picker-wrapper {
    z-index        : 3;
    width          : 100%;
    display        : flex;
    justify-content: center;
}