* {
    background-size: cover !important;
    border         : none;
    padding        : 0;
    margin         : 0;

}

.pe-none {
    pointer-events: none;
}

.pe-all {
    pointer-events: all;
}

#home-page {
    text-align: center;
    width     : 100%;
    overflow  : hidden;
}

#tool-bar-wrapper {
    position       : fixed;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    height         : 100%;
    left           : 0;
    z-index        : 1;
    pointer-events : none;
}

#tool-bar {
    pointer-events: visible;
    display       : flex;
    flex-direction: column;
}

#status-bar {
    height          : 100%;
    min-width       : 300px;
    position        : fixed;
    display         : flex;
    flex-direction  : column;
    right           : 0;
    background-color: #fafafa;
    z-index         : 1;
    overflow-y      : scroll;
    overflow-x      : hidden;
}

.konvajs-content {
    margin: auto;
}

#color-picker-wrapper {
    z-index        : 3;
    width          : 100%;
    display        : flex;
    justify-content: center;
}

.color-preview {
    width        : 20px;
    height       : 20px;
    border-radius: 3px;
}

.text-editing {
    position: absolute;
    resize: none;
    outline-style: none;
    z-index: 2;
    background: none;
    box-sizing: content-box;
    border: 2px solid #1377a3 ;
    overflow: visible;
}